.card-stats .card-body {
    padding: 15px 15px;
}
.card-stats .card-footer {
    padding: 0 15px 15px;
    background: none;
    border: none;
}
.card-stats .icon-big i {
    line-height: 59px;
}
.card-stats .card-body .numbers p{
    text-align: right;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.2em;
}
.card-stats .card-body .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
    text-transform: capitalize;
    font-weight: 400;
}
.card-stats .card-body .numbers p {
    margin-bottom: 0;
}
.card-stats .card-footer .stats {
    color: #5c5c5c;
    text-align: center;
}
.listing-table{ font-size: 14px;}


.card-list-info{border: none;}
.card-list-info h4.card-header {background: #cbd4e4; font-size: 16px; border-radius: 5px 5px 0 0; border: none; }
.card-list-info .card-body {background: #d9e0ec; border-radius: 0px 0px 5px 5px; }
.listing-table thead,
.listing-table tbody{background: #ffffff;}

.listing-table thead th,.listing-table tbody tr td, .listing-table.table-sm th{ padding: 7px}
