.homepage-search-block{background-color:#002164; /*background: url(/images/slider-bg.jpg); height: 620px; */position: relative;}
.homepage-search-title h1 {font-weight: 700;padding: 0;color: #ffffff;margin-bottom: .5rem;font-size: 3rem;}
.homepage-search-title h1 span {font-weight: bold; }
.homepage-search-title h5 {color: #fff; font-size:30px; font-weight: 300; padding: 0; margin-bottom: 20px; }
.home-slider-content-info {position: absolute;z-index: 9;left: 0;right: 0;top: 0;bottom: 0;display: flex;align-items: center;}

.homepage-search-form .form-control {font-size: 16px;padding-right: 106px;font-weight: 300;height: 50px;border-radius: 2px;outline: none;}
.homepage-search-form .custom-select {font-size: 16px;font-weight: 300;height: 50px;border-radius: 2px;outline: none;}
.homepage-search-form .locate-me {background: #ececec; color: #4a4f5a; font-size: 12px; padding: 3px 10px; border-radius: 3px; position: absolute; right: 14px; top: 9px; font-weight: 600; }
.homepage-category-list p {color: #6c757d; font-size: 16px; font-weight: 300; padding: 0; margin-bottom: 0; }
button.btn-search {background: #002164; border: none; padding: 10px 20px; border-radius: 5px; color: #fff; font-size: 15px; font-weight: 600; height: 50px;  }

.home-category-item{background: #fff;margin: 5px 2px;border-radius: 3px;text-align: center;padding: 6px;box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);border: 1px solid transparent;min-height: 110px;display: flex;} 
.home-category-item:hover {border: 1px solid #d5042b; } 
.home-category-item h6 {margin: 0px; font-size: 13px; color: #d5042b; } 
.home-category-item p {margin: 0px; font-size: 12px; } 
.home-category-item img {width: 100px !important;height: 100px;object-fit: cover;border-radius: 5px;box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);margin: 2px 0 8px 0;margin: 0 auto;}

#offer-slider .owl-nav button {background: #fff; border-radius: 30px; box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2); color: #000; display: inline-block; font-size: 21px; height: 40px; line-height: 40px; margin: 0; text-align: center; text-transform: uppercase; width: 40px; }
#offer-slider .owl-nav .owl-prev,
.offer-slider .owl-carousel .owl-item img{ width: 300px; }
.owl-item .item:hover{ border: none;}
#home-category-carousel .owl-nav .owl-prev{margin: 0 0 0 -15px; } 
.inner-item{ display: flex; align-items: center;}
#homepage-slider .owl-nav button {background: #fff; border-radius: 30px; box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2); color: #000; display: inline-block; font-size: 21px; height: 40px; line-height: 40px; margin: 0; text-align: center; text-transform: uppercase; width: 40px; }
#homepage-slider .owl-nav .owl-prev,
#home-category-carousel .owl-nav .owl-prev{margin: 0 0 0 -15px; } 
#homepage-slider .owl-carousel .owl-stage-outer { margin-left: 6px; } 
.owl-prev {left: 0; position: absolute; top: 42%; transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; } 
.owl-next {position: absolute; right: 0; top: 42%; transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; } 
#homepage-slider .owl-dots{ display: none;}

/*Benefits*/

.Benefits-section {padding: 2rem 0; position: relative; background: url(/images/footer_bg2.png);background-attachment: fixed; background-size: 100%; }
.Benefits-section:before {content: ''; position: absolute; background: url(/images/ft-strip.png); z-index: 9; height: 14px; width: 100%; top: -12px; }
.Benefits-section:after {content: ''; position: absolute; background: url(/images/ft-strip1.png); z-index: 9; height: 14px; width: 100%; bottom: -12px; }

.Benefits-section .heading-title{margin-bottom: 3rem; margin-top: 0px;}
.Benefits-section  .heading-title h2 {font-weight: 700; padding: 0; color: #000000; margin-bottom: .5rem; font-size: 2.0rem; }
.Benefits-section  .heading-title p {color: #6c757d; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px;}
.Benefits-card-media {display: flex; align-items: center; justify-content: center; height: 100%; } 
.Benefits-card-media img {width: 100%; } 
.Benefits-list-card {/*border: 1px solid #eff1fe;*/ border-radius: 5px; position: relative; width: 60%; /*padding: 20px;*/ margin-bottom: 10px; } 
.app .Benefits-card-content h2 {color: #002164; font-size: 24px; margin: 0; font-weight: 600; padding: 5px 0 15px 0;}
.app .Benefits-card-content p {color: #607D8B; font-weight:500; font-size: 16px; line-height: inherit; text-align: inherit; }
.margin-right{margin: 0 0 30px auto;}


/*Plan*/

.plan-section{padding: 2rem 0; position: relative; background: #f4f7fb;}
.plan-section:after {content: ''; position: absolute; background: url(/images/ft-strip1.png); z-index: 9; height: 14px; width: 100%; bottom: -12px; }

.plan-section .heading-title{margin-bottom: 30px; margin-top: 0px;}
.plan-section  .heading-title h2 {font-weight: 700; padding: 0; color: #000000; margin-bottom: .5rem; font-size: 2.0rem; }
.plan-section  .heading-title p {color: #6c757d; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px; margin-top: 0px;}
.plan-content-intro .row{margin-left: -2px; margin-right: -2px;}
.plan-content-intro .row .col-md-3{padding-left: 2px; padding-right: -2px;}

.plan-intro-card {/* -webkit-box-shadow: 0 3px 10px rgba(8,25,50,.1); */-moz-box-shadow: 0 3px 10px rgba(8,25,50,.1);-ms-box-shadow: 0 3px 10px rgba(8,25,50,.1);/* box-shadow: 0 3px 10px rgba(8,25,50,.1); */background: #f9fbff;height: 100%;padding: 20px;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;border-radius: 5px;background: #ffffff;background: -moz-linear-gradient(top,  #ffffff 1%, #f4f9fc 100%);background: -webkit-linear-gradient(top,  #ffffff 1%,#f4f9fc 100%);background: linear-gradient(to bottom,  #ffffff 1%,#f4f9fc 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f9fc',GradientType=0 );border:1px solid #e9f0f3;}
.app .plan-intro-card h2 {font-size: 24px; margin-bottom:0px; font-weight: bold; color:#5d676b; padding: 0; }
.plan-intro-card  p {color: #5d676b; font-weight: 500; font-size: 16px; }
.price-info {display: flex; align-items: center; position: relative; padding-top: 20px; padding-bottom: 20px; }
.price-value {font-size: 2.5em; font-weight: 700; margin: 0; padding: 0; color: #5d676b; }
.price-per{font-size: 12px; padding-left: 15px;}
.plan-point-list {margin-top: 10px; margin-bottom: 10px; position: relative; border-top: 1px solid rgba(8,25,50,.1); padding: 20px 0; }
.plan-point-list h4 {font-size: 16px; font-weight: bold; padding: 0; }
.plan-point-list ul {margin: 0; padding: 0 0 0 20px; list-style: circle; }
.plan-point-list ul li{position: relative;color: #5d676b; font-weight: 500; font-size: 14px;}
.btn-conversion {background: #002164; color: #fff; font-size: 16px !important; padding: 10px 25px; border-radius: 5px; font-weight: bold; }
.btn-conversion:hover{color:#fff;}
.current-plan{background: #002164;}
.app .current-plan h2,
.current-plan  .price-value,
.current-plan .price-per,
.current-plan .plan-point-list h4,
.current-plan .plan-point-list ul li{color: #fff;}
.current-plan .plan-point-list{border-color: #2d519a;}
.current-plan .btn-conversion{background: #fff; color: #002164; }
.plan-intro-card{ overflow: hidden;}
.plan-intro-card .ribbon {
  width: 160px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  color: #002164;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 4px; 
}




  @media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media only screen and (max-width : 767px) { 
    .home-slider-content-info {    position: relative; padding:22px 0px;  }
    .homepage-search-title h1{font-size: 2rem;}
    .offer-slider.pl-4.pt-3{padding:12px; }
    .Benefits-list-card{ width: 100%;}
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
      -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
    .Benefits-list-card{ width: 100%;}
  }
  
  @media (min-width: 992px)
  {
    .slide-box img {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  
.carousel-caption { background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: .5rem;}
.how-it-section {padding: 2rem 0; position: relative; background: #002164 url(/images/footer_bg.png) fixed; }
.app .how-it-section .heading-title{margin-bottom: 40px; margin-top: 0px;}
.app .how-it-section .heading-title h2 {font-weight: 700; padding: 0; color: #fff; margin-bottom: .5rem; font-size: 2.0rem; }
.app .how-it-section .heading-title p {color: #fff; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px; line-height: 1.5; text-align: inherit;}
.app .howitwork-card{border-radius: 4px;margin-bottom: 25px;display: flex;background: #ffffff;padding: 20px 15px;transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;border: 1px solid #eff1fe;}
.howitwork-card:hover {box-shadow: 4.871px 34.659px 30px -24px rgba(0, 0, 0, 0.06); }
.howitwork-card-content{ min-height: 95px;}
.app .howitwork-card-content h2 {font-size: 18px; padding: 0; font-weight: bold; color: #000; }
.app .howitwork-card-content p{font-size: 14px;font-weight: 300;text-align: justify;line-height: 22px;color: #607d8b;margin-bottom: 0;}
.app .howitwork-card-media {width: 90px; margin-right: 10px; }  

section.products-section {padding: 2rem 0; position: relative; background: #f3f7f8; }
.products-section .heading-title{margin-bottom: 40px; margin-top: 0px; max-width: inherit;}
.products-section  .heading-title h2 {font-weight: 700; padding: 0; color: #000000; margin-bottom: .5rem; font-size: 2.0rem; }
.products-section  .heading-title p {color: #6c757d; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px;}

#products-carousel .item{ margin: 10px;}
#products-carousel .owl-nav button {background: #002164; color: #ffffff; display: inline-block; height: 28px; line-height: 28px; margin: 0; text-align: center; text-transform: uppercase; width: 28px; }

.products-item-card{position: relative;}
.app .products-item-content h2 {font-size: 16px; font-weight: bold; padding: 0 50px 0 0; }
.products-item-content h2 a{color:#202223;}
.location {font-size: 13px; color: #607D8B; line-height: normal; margin-bottom: 10px; }
.products-item-image {border-radius: 5px; overflow: hidden; height: 238px; }
.products-item-content{background-color: #fff;box-shadow: 0 12px 20px rgba(1,84,85,.1);border-radius: 10px;padding: 15px;position: relative;margin-left: auto;margin-top: -60px;width: calc(100% - 40px);margin-right: auto; height: 95px; overflow: hidden;}
.products-item-content p {font-size: 14px; font-weight: 300; text-align: justify; line-height: 22px; color: #607d8b; }
.products-rate {position: absolute; top: 10px; margin-top: 0; background-color: #4CAF50; font-size: 11px; color: #fff; font-weight: 700; padding:0px 10px; z-index: 1; -webkit-border-radius: 2px; border-radius: 2px; right: 10px; }

.becomemember-section{padding: 2rem 0; position: relative; background:#ffffff; }
.becomemember-section .heading-title{margin-bottom: 40px;}
.becomemember-section  .heading-title h2 {font-weight: 700; padding: 0; color: #000000; margin-bottom: .5rem; font-size: 2.0rem; }
.becomemember-section  .heading-title p {color: #6c757d; font-size: 20px; font-weight: 300; padding: 0; margin-bottom: 20px;}
a.btn-blue {background: #002164; padding: 10px 15px; font-size: 14px; font-weight: bold; color: #fff; border-radius: 5px; display: inline-block; }
