/*----------------------------
Add font
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

body {font-size: 12px;font-family: 'Source Sans Pro', sans-serif; line-height: 26px;color: #777;-webkit-font-smoothing: antialiased;font-weight: normal;}
	
body{ background: none !important;}
.header{position: relative;width: 100%;}
.header:after{content: ''; position: absolute; background: url(/images/head-strip.png); height:20px; width: 100%; z-index: 9;}
.header .navbar-brand{ padding-bottom: 0px;}
.navbar-brand .logo{ width:90px;}
.navbar-toggler{ background-color: #d5042b !important;}
.navbar-toggler-icon:before {display: inline-block; font-family: FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f0c9"; line-height: 30px; color: #fff; }
.header-navigation .navbar {padding: 0; }
.header-navigation .navbar-nav > li{position:relative; padding: 10px 5px;} 
.header-navigation .navbar-nav > li > a{position: relative; color: #607D8B; text-align:center; font-weight: bold; font-size: 14px; text-transform:uppercase; } 
.header-navigation .navbar-nav > li > a.active {color: #5cc9cb; }
.header-navigation .navbar-nav > li .dropdown-menu {border: 1px solid #dcf5f7; border-radius: 0; } 
.header-navigation .navbar-nav > li a.dropdown-item {position: relative; color: #495057; text-align: left; font-size: 12px; }
.header-navigation .navbar-nav > li a.dropdown-item:active,
.header-navigation .navbar-nav > li a.dropdown-item:focus, 
.header-navigation .navbar-nav > li a.dropdown-item:hover{background-color: #f8f9fa;}
.btn-get{background: #fff; color: #002164; font-size: 16px; padding: 10px 25px; border-radius: 5px; font-weight: bold;}
.header-navigation .navbar-nav > li > a.btn-login {background: #002164 !important; color: #fff !important; margin-bottom: 0; padding: 8px 24px !important; background-color: #fff; border-radius: 3px; }
.header-navigation .navbar-nav > li > a.btn-register {background: #d5042b !important; color: #fff !important; margin-bottom: 0; padding: 8px 24px !important; background-color: #fff; border-radius: 3px; }

/* ---------------------------------- */
/* User Menu
------------------------------------- */
.user-menu {
	position: relative;
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	margin-left: 100px;
}

.user-menu .user-name {
	transition: 0.2s;
	color: #444;
}

.user-menu .user-name {
	transition: 0.2s;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 145px;
}

.user-menu .dropdown-toggle::after {
	display: inline-block;
    right: 0;
    position: absolute;
    top: 50%;
}

.user-menu.active .user-name:after,
.user-menu:hover .user-name:after,
.user-menu.active .user-name,
.user-menu:hover .user-name {
	color: #66676b;
}

.user-menu.active .user-name:after { transform: rotate(180deg); }
.user-menu .dropdown-item:active {
    text-decoration: none;
	background-color:#cccccc;
	color: #000000;
}
/* Avatar */
.user-name span img {
	width: 100%;
	display: inline-block;
	border-radius: 50%;
	image-rendering: -webkit-optimize-contrast;
}

.user-name span {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 50%;
	position: absolute;
	left: -30px;
	top: 0px;
}

.user-menu ul {
	text-align: left;
	position: absolute;
	top: 45px;
	right: 0;
	list-style: none;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
	border-radius: 4px;
	display: inline-block;
	width: 190px;
	font-size: 15px;
	transform: translate3d(0,15px,0);
	padding: 16px 8px;
	box-sizing: border-box;
	transition: 0.25s;
	visibility: hidden;
	opacity: 0;
	z-index: 110;
}
.user-menu .dropdown-menu .dropdown-item{ padding: .25rem 1rem;}
.user-menu .dropdown-menu .dropdown-item a{
	line-height: 22px;
	display: inline-block;
	color: #696969;
	transition: 0.2s;
	width: 100%;
}

.user-menu ul li a:hover {
	color: #66676b;
}

.user-menu ul li a i {
	width: 20px;
	position: relative;
	display: inline-block;
}

.user-menu.active ul {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0,0,0);
}
.grey-text, .main-content p{ color: #666666; font-size: 14px; line-height: 1.5em; margin-bottom: 15px;}
.main-content{ background: #f7faff; }
.main-content h4{ font-size: 1rem; margin-bottom: 0;}
.main-content ul {color: #666666; font-size: 14px; padding: 0 0 0 20px; }
.main-content ol{ color: #666666; font-size: 14px; padding: 0 0 0 20px;}
.main-content ul li{ color: #666666; font-size: 14px; line-height: 1.5em; text-align:justify;}
/* Mobile Fixes for User Menu */
@media only screen and (max-width: 1366px) and (min-width: 1240px) {
	.user-menu .user-name {
	    max-width: 110px;
	}
}

@media (min-width: 992px) and (max-width: 1239px) {
	.header-widget {
	    height: auto;
	    position: absolute;
	    right: 0;
	    width: 150%;
	}

	.header-style-2 .header-widget {
	    position: relative;
	    width: auto;
	}

	.user-menu { top: 12px; }
	.right-side { position: relative; }
}

@media (max-width: 992px) {
	.user-menu ul {
	    right: -60px;
	    float: right;
	}
}

@media (max-width: 480px) {
	.header-widget .user-menu {
		top: 0;
		margin-top: 7px;
		margin-bottom: 20px;
		float: left;
	}
}
.footer{ background:#1b1b1b url(/images/footer_bg.png); position: relative;}
.footer-top{padding: 3rem 0 0 0;}
.footer ul { margin: 0; padding: 0;}
.footer ul li { line-height: 26px; list-style: outside none none;}
.footer ul li a { color: #6c8293;}

.footer-link h2,
.footer .about-app h2{font-size: 18px; font-weight: bold; color: #fff; padding: 0; }
.footer .about-app p{font-size: 14px; font-weight: 300; text-align: justify; line-height: 22px; color: #aaa;}

.footer ul li a {color: #aaa; font-size: 14px; }

.footer-contact-info{
  padding-left: 17px;
  list-style-type: none;
  margin: 0;
}

.footer-contact-info li {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #aaa;
}
.footer-contact-info li a { color: #aaa;}

.footer-tag-content{padding: 2rem 0}
.footer-tag-content h2 {font-size: 18px; font-weight: bold; color: #fff; padding: 0; }
.footer-tag-links a {color: #aaa; font-size: 14px; }

.footer-copyright {position: relative; padding: 1rem 0; border-top: 1px solid #3c3c3c; margin-top: 15px; }
.footer-copyright p {color: #6c757d; font-size: 12px; font-weight: 300; padding: 0; margin-bottom: 0; text-align: center; }

.footer-link h2,
.footer .app h2{font-size: 18px; font-weight: bold; color: #fff; padding: 0; }
.footer-link h2{ color: #fff;}
.about-app{margin-bottom: 15px; }
.footer ul li a {color: #aaa; font-size: 14px; }
.footer .about-text{ color: #aaa; font-size: 14px;}

.footer-contact-info{
  padding-left: 17px;
  list-style-type: none;
  margin: 0;
}
.footer-contact-info li {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #aaa;
}
.footer-contact-info li a { color: #aaa;}




@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {

}


@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}




@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {
.header-navigation .navbar-nav > li{padding:0px 0;    margin-left: 0;}
.header-navigation .navbar-nav > li > a {text-align: left; display: block; margin: 0; padding: 0.7rem 0.5rem; color: #495057; font-size: 11px; font-weight: normal; border-bottom: 1px solid #d7ddec;} 
.header-navigation .navbar-nav li .dropdown-menu{width: 100%;}
.header-navigation .navbar-nav > li .dropdown-menu {border: 1px solid #dcf5f7; border-radius: 0; padding: 0; position: relative !important; transform: none !important; }
.header-navigation .navbar-nav > li a.dropdown-item {position: relative; color: #495057; text-align: left; font-size: 12px; }
.user-name .profileImage{display: none;}
.user-menu .dropdown-menu .dropdown-item a {color: #6c757d; width: 100%; position: relative; text-align: left; font-size: 12px; }
.user-menu .dropdown-menu .dropdown-item {background: transparent; outline: none;    }
.numbers .card-category,
.numbers .card-title{text-align: center !important;}
.numbers { margin-top: 10px;}
}

@media only screen and (max-width : 767px) {

.header-navigation .navbar-nav > li{padding:0px 0;    margin-left: 0;}
.header-navigation .navbar-nav > li > a {text-align: left; display: block; margin: 0; padding: 0.7rem 0.5rem; color: #495057; font-size: 11px; font-weight: normal; border-bottom: 1px solid #d7ddec;} 
.header-navigation .navbar-nav li .dropdown-menu{width: 100%;}
.header-navigation .navbar-nav > li .dropdown-menu {border: 1px solid #dcf5f7; border-radius: 0; padding: 0; position: relative !important; transform: none !important; }
.header-navigation .navbar-nav > li a.dropdown-item {position: relative; color: #495057; text-align: left; font-size: 12px; }
.user-name .profileImage{display: none;}
.user-menu .dropdown-menu .dropdown-item a {color: #6c757d; width: 100%; position: relative; text-align: left; font-size: 12px; }
.user-menu .dropdown-menu .dropdown-item {background: transparent; outline: none; }
.footer-link{margin-top: 15px; }
.chooseOrgDoc.form-control-file{width: 100%;}
.text blockquote .quote-icon{position: relative; border: none;}
.text blockquote .blockquote-text{    padding-right: 0;    padding-left: 0;}
.user-dashboard .MuiTableCell-body {font-size: 13px;white-space: normal; height: auto; border: none;}
.user-dashboard .card{margin-bottom: 10px;}
.heading-title {margin-top: 0; margin-bottom: 10px; }
.downloadOrgDocLabel{display: none;}
}

@media only screen and (max-width: 576px) {
.how-it-section .heading-title {margin-bottom: 0; margin-top: 0; }
.how-it-section .heading-title h2{    font-size: 1.5rem;}
.grey-text, .main-content p{text-align: justify;}
}

@media only screen and (max-width : 480px) {}






