
.btn-view-card a {background: #002164; color: #fff; padding: 7px 15px; border-radius: 5px; font-size: 14px; font-weight: bold; margin-top: 15px; display: inline-block; }
.addListing.btn-sm{ padding: .25rem .5rem;}
.employee-modal .modal-title{ padding-bottom: 0px;}
.texQueForm{ font-size: 13px;}
.texQueForm .form-control{ font-size: 13px;}
.texQueForm label{ font-size: 12px; font-weight: 500;} 
.texQueForm .form-check-label{ margin-right: 10px; font-size: 14px; width: 70px; font-weight: 400;}